<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Garage Site</title>
		<!-- Favicon -->
		<!-- page css -->
		<link
			href="/assets/vendors/datatables/dataTables.bootstrap.min.css"
			rel="stylesheet" />
		<!-- Core css -->
		<link href="/assets/css/app.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="app">
			<div class="layout">
				<%- include("../partials/header.ejs")%> <%-
				include("../partials/sideNavbar.ejs")%>
				<div class="page-container">
					<div class="main-content">
						<%- include("../partials/flash.ejs")%>
						<%- body %>
					</div>
					<%- include('../partials/footer.ejs')%>
				</div>
				<%- include('../partials/quickView.ejs')%>
			</div>
		</div>
		<script src="/assets/js/pages/dashboard-default.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="/assets/js/vendors.min.js"></script>
		<script src="/assets/vendors/chartjs/Chart.min.js"></script>
		<script src="/assets/vendors/datatables/jquery.dataTables.min.js"></script>
		<script src="/assets/vendors/datatables/dataTables.bootstrap.min.js"></script>
		<script src="/assets/js/app.min.js"></script>
		<script>
			$(document).ready(function () {
				$('#data-table').DataTable();
			});
		</script>
		<script>
			var deleteFormId = '';

			function openDeleteModal(event,name, id) {
				event.stopPropagation();
				deleteFormId = id;
				var modalBody = document.getElementById('modalBodyContent');
				modalBody.innerHTML =
					'<p>Are you sure you want to delete this '+name+' with ID: ' +
					deleteFormId +
					'?</p>';
				$('#exampleModalCenter').modal('show');
			}

			function deleteItem() {
				if (deleteFormId !== '') {
					// Perform delete operation or submit the form
					document.getElementById(deleteFormId).submit();
				}
			}
		</script>
	</body>
</html>
