<% layout('layouts/boilerplate')%>
<form method="post" action="/orders">
	<div class="page-header no-gutters has-tab">
		<div class="d-md-flex m-b-15 align-items-center justify-content-between">
			<div class="media align-items-center m-b-15">
				<h2>Create a new Order</h2>
			</div>
		</div>
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab">Basic Info</a>
			</li>
		</ul>
	</div>
	<div class="tab-content m-t-15">
		<div class="tab-pane fade show active" id="product-edit-basic">
			<div class="card">
				<div class="card-body">
					<div class="form-group">
						<label class="font-weight-semibold" for="customer_id">Customer</label>
						<select id="customer_id" name="customer_id" class="form-control">
							<% for(var i=0; i < customers.length; i++) { %>
								<option value="<%= customers[i].id %>"><%= customers[i].name %></option>
							<% } %>
						</select>
					</div>
					<div class="form-group">
						<label class="font-weight-semibold" for="garage_item_id">Garage Item</label>
						<select id="garage_item_id" name="garage_item_id" class="form-control" onchange="calculateTotalPrice()">
							<% for(var i=0; i < garageItems.length; i++) { 
								var product = products.find(p=>p.id==garageItems[i].product_id);
							%>
								<option value="<%= garageItems[i].id %>"><%= product.name %> (<%= garageItems[i].description %>)</option>
							<% } %>
						</select>
					</div>
					<div class="form-group">
						<label class="font-weight-semibold" for="order_date">Order Date</label>
						<input type="date" id="order_date" name="order_date" value="<%=new Date().toISOString().substr(0, 10)%>" class="form-control" required />
					</div>
					<div class="form-group">
						<label class="font-weight-semibold" for="order_type">Order Type</label>
						<select id="order_type" name="order_type" class="form-control">
							<option value="sell">Sell</option>
							<option value="buy">Buy</option>
						</select>
					</div>
					<div class="form-group">
						<label class="font-weight-semibold" for="quantity">Quantity</label>
						<input type="number" id="quantity" name="quantity" placeholder="quantity" class="form-control" min="1" required />
					</div>
					<div class="text-right">
						<button class="btn btn-primary">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
