<% layout('layouts/boilerplate')%>
<div class="page-header">
	<h2 class="header-title">قائمة الفئات</h2>
	<div class="header-sub-title">
		<nav class="breadcrumb breadcrumb-dash">
			<a href="/monthly_profit_cost" class="breadcrumb-item"
				><i class="anticon anticon-home m-r-5"></i>الصفحة الرئيسية</a
			>
			<a class="breadcrumb-item" href="/categories">الإدارة</a>
			<a class="breadcrumb-item" href="/categories">الفئات</a>
			<span class="breadcrumb-item active">قائمة الفئات</span>
		</nav>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<div class="row m-b-30">
			<div class="col-lg-8">
				<div class="d-md-flex">
					<div class="m-b-10 m-r-15"></div>
					<div class="m-b-10"></div>
				</div>
			</div>
			<div class="col-lg-4 text-right">
				<a class="btn btn-primary" href="/categories/new">
					<i class="anticon anticon-plus-circle m-r-5"></i>
					<span>فئة جديدة</span>
				</a>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>الاسم</th>
							<th></th>
					</tr>
				</thead>
				<tbody>
					<% categories.forEach(function(category) { %>
					<tr>
						<td><%= category.name %></td>
						<td>
							<form
								id="<%= category.id %>"
								action="/categories/<%= category.id %>?_method=DELETE"
								method="POST"
								class="d-inline"
								onsubmit="return confirm('هل أنت متأكد أنك تريد حذف هذه الفئة؟')">
								<button
									type="button"
									class="btn btn-danger btn-sm"
									data-toggle="modal"
									data-target="#exampleModalCenter"
									onclick="openDeleteModal(event,'category','<%= category.id %>')">
									حذف
								</button>
							</form>
						</td>
					</tr>
					<% }); %>
				</tbody>
			</table>
			<%- include('../partials/deletePopUp.ejs')%>
		</div>
	</div>
</div>
