<% layout('layouts/boilerplate')%>
<div class="page-header">
	<h2 class="header-title">قائمة عناصر الكراج</h2>
	<div class="header-sub-title">
		<nav class="breadcrumb breadcrumb-dash">
			<a href="/monthly_profit_cost" class="breadcrumb-item"
				><i class="anticon anticon-home m-r-5"></i>الرئيسية</a
			>
			<a class="breadcrumb-item" href="/garageItems">الإدارة</a>
			<a class="breadcrumb-item" href="/garageItems">العناصر</a>
			<span class="breadcrumb-item active">قائمة العناصر</span>
		</nav>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<div class="row m-b-30">
			<div class="col-lg-8">
				<div class="d-md-flex">
					<div class="m-b-10 m-r-15"></div>
					<div class="m-b-10"></div>
				</div>
			</div>
			<div class="col-lg-4 text-right">
				<a class="btn btn-primary" href="/garageItems/new">
					<i class="anticon anticon-plus-circle m-r-5"></i>
					<span>إضافة عنصر</span>
				</a>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover e-commerce-table" id="data-table">
					<thead>
						<tr>
							<th>المعرف</th>
							<th>المنتج</th>
							<th>الفئة</th>
							<th>التكلفة</th>
							<th>السعر</th>
							<th>الكمية المتبقية</th>
							<th>الحالة</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0; i < garageItems.length; i++) { var category =
						categories.find(c => c.id === garageItems[i].category_id); var product
						= products.find(p => p.id === garageItems[i].product_id); %>
						<tr
							class="clickable-row"
							data-item-id="<%=garageItems[i].id%>"
							style="cursor: pointer">
							<td>#<%=garageItems[i].id%></td>
							<td>
								<div class="d-flex align-items-center">
									<h6 class="m-b-0 m-l-10"><%= product.name %></h6>
								</div>
							</td>
							<td><%= category.name %></td>
							<td>$<%=garageItems[i].product_cost%></td>
							<td>$<%=garageItems[i].retail_price%></td>
							<td><%=garageItems[i].quantity_on_hand%></td>
							<td>
								<div class="d-flex align-items-center">
									<div
										class="badge <% if (garageItems[i].quantity_on_hand > 0) { %> <%='badge-success'%> <% } else { %> <%='badge-danger'%> <% } %> badge-dot m-r-10"></div>
									<div>
										<% if (garageItems[i].quantity_on_hand > 0) { %>
										<span class="badge badge-cyan">متوفر</span>
										<% } else { %>
										<span class="badge badge-danger">غير متوفر</span>
										<% } %>
									</div>
								</div>
							</td>
							<td class="text-right">
								<form
									id="<%= garageItems[i].id %>"
									method="post"
									action="/garageItems/<%= garageItems[i].id %>?_method=DELETE"
									onsubmit="return confirm('هل أنت متأكد أنك تريد حذف هذا العنصر؟')">
									<button
										type="button"
										class="btn btn-icon btn-danger btn-hover btn-sm btn-rounded"
										data-toggle="modal"
										data-target="#exampleModalCenter"
										onclick="openDeleteModal(event,'item','<%= garageItems[i].id %>')">
										<i class="anticon anticon-delete"></i>
									</button>
								</form>
							</td>
						</tr>
						<%}%>
					</tbody>
				</table>
				<%- include('../partials/deletePopUp.ejs')%>
		</div>
	</div>
</div>
<script>
	// Get all the clickable rows
	const clickableRows = document.querySelectorAll('.clickable-row');

	// Add click event listener to each row
	clickableRows.forEach((row) => {
		row.addEventListener('click', () => {
			// Get the item ID from the data attribute
			const itemId = row.getAttribute('data-item-id');

			// Navigate to the item's URL
			window.location.href = `/garageItems/${itemId}`;
		});
	});
</script>
