<% layout('layouts/boilerplate')%> 
<h1>Garage Items</h1>
<hr>
<a href="/garageItems/new" class="btn btn-primary">New Item</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Product Cost</th>
      <th scope="col">Retail Price</th>
      <th scope="col">Quantity on Hand</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < garageItems.length; i++) { 
      var category = categories.find(c => c.id === garageItems[i].category_id); 
      var product = products.find(p => p.id === garageItems[i].product_id); %>
    <tr>
      <td><%= product.name %></td>
      <td><%= garageItems[i].description %></td>
      <td><%= category.name %></td>
      <td><%= garageItems[i].product_cost %></td>
      <td><%= garageItems[i].retail_price %></td>
      <td><%= garageItems[i].quantity_on_hand %></td>
      <td>
        <form method="post" action="/garageItems/<%= garageItems[i].id %>?_method=DELETE" onsubmit="return confirm('Are you sure you want to delete this Item?')">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>

