<% layout('layouts/boilerplate')%>
<div class="page-header">
	<h2 class="header-title">العملاء</h2>
	<div class="header-sub-title">
		<nav class="breadcrumb breadcrumb-dash">
			<a href="/monthly_profit_cost" class="breadcrumb-item"
				><i class="anticon anticon-home m-r-5"></i>الصفحة الرئيسية</a 
			>
			<a class="breadcrumb-item" href="/customers">الإدارة</a>
			<a class="breadcrumb-item" href="/customers">العملاء</a>
			<span class="breadcrumb-item active">قائمة العملاء</span>
		</nav>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<div class="row m-b-30">
			<div class="col-lg-8">
				<div class="d-md-flex">
					<div class="m-b-10 m-r-15"></div>
					<div class="m-b-10"></div>
				</div>
			</div>
			<div class="col-lg-4 text-right">
				<a class="btn btn-primary" href="/customers/new">
					<i class="anticon anticon-plus-circle m-r-5"></i>
					<span>عميل جديد</span>
				</a>
			</div>
		</div>
		<table class="table" id="data-table">
			<thead>
				<tr>
					<th>الاسم</th>
					<th>البريد الإلكتروني</th>
					<th>إجمالي الطلبات</th>
					<th>الهاتف</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% customers.forEach(customer => { %>
				<tr>
					<td><%= customer.name %></td>
					<td><%= customer.email %></td>
					<td><%= customer.total_orders || 0 %></td>
					<td><%= customer.phone %></td>
					<td class="text-right">
						<form
							id="<%= customer.id %>"
							method="post"
							action="/customers/<%= customer.id %>?_method=DELETE"
							onsubmit="return confirm('هل أنت متأكد أنك تريد حذف هذا العنصر؟')">
							<button
								type="button"
								class="btn btn-icon btn-danger btn-hover btn-sm btn-rounded"
								data-toggle="modal"
								data-target="#exampleModalCenter"
								onclick="openDeleteModal(event,'customer','<%= customer.id %>')">
								<i class="anticon anticon-delete"></i>
							</button>
						</form>
					</td>
				</tr>
				<% }); %>
			</tbody>
		</table>
		<%- include('../partials/deletePopUp.ejs')%>
	</div>
</div>
